/* Importing font */
@import url();

/* Custom variables */
:root {
    --clr-bkg-main: linear-gradient(45deg, black, springgreen);
    --clr-bkg-calc: rgba(0, 0, 0, 0.8);
    --clr-bkg-btn: rgba(31, 31, 31, 1);
    --clr-bkg-field: white;
    --clr-txt-main: white;
    --clr-txt-calc: black;
    --clr-bdr-main: black;
    --clr-hvr-main: white;
}

/* Global reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}