/* Importing font */
@import url();

/* Custom variables */
:root {
    --clr-bkg-main: linear-gradient(45deg, black,crimson);
    --clr-txt-main: white;
    --clr-bkg-calc: black;
}

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}